.footer {
  background-color: $black;
  text-align: center;

  .footer-wrapper {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      .footer-section-1 {
        width: 30%;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-navigation:hover {
          color: $white;
        }
      }
    }

    .footer-section-1 {
      margin-bottom: 1rem;

      .logo {
        font-size: 1.63rem;
        margin-bottom: 1rem;
      }

      .footer-navigation {
        padding: 0.4em 0;
        margin-bottom: 0.3em;
      }
    }

    .copyright,
    .footer-navigation {
      color: $darkGrey;
    }

    .socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      margin: 0 auto;

      img {
        width: 95%;
      }
    }

    .copyright {
      margin-top: 1.1em;
    }
  }
}
