.showcase {
  position: relative;

  @include breakpoint(medium) {
    display: grid;
    grid-template-areas:
      'title btn'
      'img img';
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .subheadline {
    margin-top: 1rem;
    @include breakpoint(medium) {
      grid-area: title;
      text-align: left;
    }
  }
  .showcase-wrapper {
    @include breakpoint(medium) {
      grid-area: img;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin: 4rem 0;
    }
    .showcase-item-1 {
      position: relative;
      background: url('../images/mobile/image-deep-earth.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-deep-earth.jpg') no-repeat
          center center/cover;
      }
    }

    .showcase-item-2 {
      position: relative;
      background: url('../images/mobile/image-night-arcade.jpg') no-repeat
        center center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-night-arcade.jpg') no-repeat
          center center/cover;
      }
    }

    .showcase-item-3 {
      position: relative;
      background: url('../images/mobile/image-soccer-team.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-soccer-team.jpg') no-repeat
          center center/cover;
      }
    }

    .showcase-item-4 {
      position: relative;
      background: url('../images/mobile/image-grid.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-grid.jpg') no-repeat center
          center/cover;
      }
    }

    .showcase-item-5 {
      position: relative;
      background: url('../images/mobile/image-from-above.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-from-above.jpg') no-repeat
          center center/cover;
      }
    }

    .showcase-item-6 {
      position: relative;
      background: url('../images/mobile/image-pocket-borealis.jpg') no-repeat
        center center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-pocket-borealis.jpg') no-repeat
          center center/cover;
      }
    }

    .showcase-item-7 {
      position: relative;
      background: url('../images/mobile/image-curiosity.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-curiosity.jpg') no-repeat
          center center/cover;
      }
    }

    .showcase-item-8 {
      position: relative;
      background: url('../images/mobile/image-fisheye.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      @include breakpoint(medium) {
        background: url('../images/desktop/image-fisheye.jpg') no-repeat center
          center/cover;
      }
    }

    .showcase-title {
      position: absolute;
      left: 5%;
      bottom: 15%;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5rem;
      text-transform: uppercase;
      opacity: 0.7;
    }

    .showcase-item-1,
    .showcase-item-2,
    .showcase-item-3,
    .showcase-item-4,
    .showcase-item-5,
    .showcase-item-6,
    .showcase-item-7,
    .showcase-item-8 {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
      @include breakpoint(medium) {
        min-height: 500px;
        margin-bottom: 0;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0)
          );
        }
      }
    }
  }

  .btn-link {
    color: $black;
    width: 50%;
    margin: 2rem auto;
    padding: 0.7em 2.5em;
    border: 1px solid black;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;

    @include breakpoint(medium) {
      grid-area: btn;
      position: absolute;
      right: 0;
      align-self: end;
      width: 40%;
      padding: 0.6rem 0;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}
