.showcase {
  .showcase-wrapper {
    .showcase-item-1 {
      position: relative;
      background: url('../images/mobile/image-deep-earth.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-item-2 {
      position: relative;
      background: url('../images/mobile/image-night-arcade.jpg') no-repeat
        center center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-item-3 {
      position: relative;
      background: url('../images/mobile/image-soccer-team.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-item-4 {
      position: relative;
      background: url('../images/mobile/image-grid.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-item-5 {
      position: relative;
      background: url('../images/mobile/image-from-above.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-item-6 {
      position: relative;
      background: url('../images/mobile/image-pocket-borealis.jpg') no-repeat
        center center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-item-7 {
      position: relative;
      background: url('../images/mobile/image-curiosity.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-item-8 {
      position: relative;
      background: url('../images/mobile/image-fisheye.jpg') no-repeat center
        center/cover;
      min-height: 122px;
      margin-bottom: 1.88rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .showcase-title {
      position: absolute;
      left: 5%;
      bottom: 15%;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  .btn-link {
    display: block;
    color: $black;
    width: 50%;
    margin: 2rem auto;
    padding: 0.7em 2.5em;
    border: 1px solid black;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
}
