@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: white;
}

@media (min-width: 40em) {
  body {
    font-size: 16px;
  }
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.headline,
.subheadline {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.subheadline {
  font-size: 1.9rem;
  color: black;
  margin-top: 3.75rem;
  margin-bottom: 1.8rem;
  text-align: center;
}

@media (min-width: 40em) {
  .subheadline {
    font-size: 2.9rem;
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.container-pt {
  padding-top: 2.13rem;
}

@media (min-width: 40em) {
  .container-pt {
    padding-top: 4rem;
  }
}

.container-pb {
  padding-bottom: 2.13rem;
}

.container-pl {
  padding-left: 1.5rem;
}

.container-pr {
  padding-right: 1.5rem;
}

.btn-close,
.menu-icon {
  cursor: pointer;
}

.hero {
  height: 100vh;
  background: url(../images/mobile/image-hero.jpg) no-repeat center center/cover;
  position: relative;
  width: 100%;
}

@media (min-width: 40em) {
  .hero {
    background: url(../images/desktop/image-hero.jpg) no-repeat center center/cover;
  }
}

.hero .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.13rem;
}

@media (max-width: 39.9375em) {
  .hero .header {
    display: none;
  }
}

.hero .header .menu {
  width: 40%;
}

.hero .header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .header .menu ul .navigation-link {
  padding: 1em;
  position: relative;
}

.hero .header .menu ul .navigation-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 40%;
  background-color: white;
  margin-bottom: -1px;
  margin-left: auto;
  margin-right: auto;
}

.hero .mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 40em) {
  .hero .mobile-header {
    display: none;
  }
}

.hero .mobile-header .mobile-menu {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  height: 100vh;
}

.hero .mobile-header .mobile-menu.active {
  display: block;
}

.hero .mobile-header .mobile-menu header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .mobile-header .mobile-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
}

.hero .mobile-header .mobile-menu ul .navigation-link {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.25em;
  margin: 0.25em 0;
}

.hero .logo {
  font-size: 1.88rem;
  line-height: 0.8;
}

@media (min-width: 40em) {
  .hero .logo {
    font-size: 2.3rem;
  }
}

.hero .headline {
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 11rem;
  padding: 0.5em;
  border: 2px solid white;
}

@media (min-width: 40em) {
  .hero .headline {
    width: 55%;
    margin-top: 4.38rem;
    font-size: 4.5rem;
  }
}

@media (min-width: 40em) {
  .about-us {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.about-us .about-us-article {
  text-align: center;
}

@media (min-width: 40em) {
  .about-us .about-us-article {
    position: absolute;
    right: 0;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    width: 53%;
    padding: 4.5em 0 0 5em;
    background-color: white;
    text-align: left;
  }
}

@media (min-width: 40em) {
  .about-us .about-us-article .subheadline {
    margin-top: 0;
    font-size: 3rem;
    text-align: left;
    line-height: 1;
  }
}

.about-us .about-us-article .body-copy {
  padding: 0.7rem;
  color: #8c8c8c;
}

@media (min-width: 40em) {
  .about-us .about-us-article .body-copy {
    padding: 0;
    line-height: 1.5;
  }
}

.showcase {
  position: relative;
}

@media (min-width: 40em) {
  .showcase {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'title btn' 'img img';
  }
}

.showcase .subheadline {
  margin-top: 1rem;
}

@media (min-width: 40em) {
  .showcase .subheadline {
    grid-area: title;
    text-align: left;
  }
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper {
    grid-area: img;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 4rem 0;
  }
}

.showcase .showcase-wrapper .showcase-item-1 {
  background: url("../images/mobile/image-deep-earth.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-1 {
    background: url("../images/desktop/image-deep-earth.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-2 {
  background: url("../images/mobile/image-night-arcade.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-2 {
    background: url("../images/desktop/image-night-arcade.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-3 {
  background: url("../images/mobile/image-soccer-team.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-3 {
    background: url("../images/desktop/image-soccer-team.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-4 {
  background: url("../images/mobile/image-grid.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-4 {
    background: url("../images/desktop/image-grid.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-5 {
  background: url("../images/mobile/image-from-above.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-5 {
    background: url("../images/desktop/image-from-above.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-6 {
  background: url("../images/mobile/image-pocket-borealis.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-6 {
    background: url("../images/desktop/image-pocket-borealis.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-7 {
  background: url("../images/mobile/image-curiosity.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-7 {
    background: url("../images/desktop/image-curiosity.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-8 {
  background: url("../images/mobile/image-fisheye.jpg") no-repeat center center/cover;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-8 {
    background: url("../images/desktop/image-fisheye.jpg") no-repeat center center/cover;
  }
}

.showcase .showcase-wrapper .showcase-item-1,
.showcase .showcase-wrapper .showcase-item-2,
.showcase .showcase-wrapper .showcase-item-3,
.showcase .showcase-wrapper .showcase-item-4,
.showcase .showcase-wrapper .showcase-item-5,
.showcase .showcase-wrapper .showcase-item-6,
.showcase .showcase-wrapper .showcase-item-7,
.showcase .showcase-wrapper .showcase-item-8 {
  position: relative;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-1::before,
.showcase .showcase-wrapper .showcase-item-2::before,
.showcase .showcase-wrapper .showcase-item-3::before,
.showcase .showcase-wrapper .showcase-item-4::before,
.showcase .showcase-wrapper .showcase-item-5::before,
.showcase .showcase-wrapper .showcase-item-6::before,
.showcase .showcase-wrapper .showcase-item-7::before,
.showcase .showcase-wrapper .showcase-item-8::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-item-1,
  .showcase .showcase-wrapper .showcase-item-2,
  .showcase .showcase-wrapper .showcase-item-3,
  .showcase .showcase-wrapper .showcase-item-4,
  .showcase .showcase-wrapper .showcase-item-5,
  .showcase .showcase-wrapper .showcase-item-6,
  .showcase .showcase-wrapper .showcase-item-7,
  .showcase .showcase-wrapper .showcase-item-8 {
    min-height: 500px;
    margin-bottom: 0;
  }
  .showcase .showcase-wrapper .showcase-item-1::before,
  .showcase .showcase-wrapper .showcase-item-2::before,
  .showcase .showcase-wrapper .showcase-item-3::before,
  .showcase .showcase-wrapper .showcase-item-4::before,
  .showcase .showcase-wrapper .showcase-item-5::before,
  .showcase .showcase-wrapper .showcase-item-6::before,
  .showcase .showcase-wrapper .showcase-item-7::before,
  .showcase .showcase-wrapper .showcase-item-8::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }
  .showcase .showcase-wrapper .showcase-item-1:hover,
  .showcase .showcase-wrapper .showcase-item-2:hover,
  .showcase .showcase-wrapper .showcase-item-3:hover,
  .showcase .showcase-wrapper .showcase-item-4:hover,
  .showcase .showcase-wrapper .showcase-item-5:hover,
  .showcase .showcase-wrapper .showcase-item-6:hover,
  .showcase .showcase-wrapper .showcase-item-7:hover,
  .showcase .showcase-wrapper .showcase-item-8:hover {
    color: black;
    cursor: pointer;
  }
  .showcase .showcase-wrapper .showcase-item-1:hover::before,
  .showcase .showcase-wrapper .showcase-item-2:hover::before,
  .showcase .showcase-wrapper .showcase-item-3:hover::before,
  .showcase .showcase-wrapper .showcase-item-4:hover::before,
  .showcase .showcase-wrapper .showcase-item-5:hover::before,
  .showcase .showcase-wrapper .showcase-item-6:hover::before,
  .showcase .showcase-wrapper .showcase-item-7:hover::before,
  .showcase .showcase-wrapper .showcase-item-8:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
  }
}

.showcase .showcase-wrapper .showcase-title {
  position: absolute;
  left: 5%;
  bottom: 15%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0.7;
}

@media (min-width: 40em) {
  .showcase .showcase-wrapper .showcase-title {
    left: 15%;
    bottom: 5%;
    font-size: 1.9rem;
  }
}

.showcase .btn-link {
  color: black;
  width: 50%;
  margin: 2rem auto;
  padding: 0.7em 2.5em;
  border: 1px solid black;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

@media (min-width: 40em) {
  .showcase .btn-link {
    grid-area: btn;
    position: absolute;
    right: 0;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    width: 40%;
    padding: 0.6rem 0;
  }
  .showcase .btn-link:hover {
    background-color: black;
    color: white;
  }
}

.footer {
  background-color: black;
  text-align: center;
}

@media (min-width: 40em) {
  .footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .footer .footer-wrapper .footer-section-1 {
    width: 30%;
  }
  .footer .footer-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-wrapper ul .footer-navigation:hover {
    color: white;
  }
}

.footer .footer-wrapper .footer-section-1 {
  margin-bottom: 1rem;
}

.footer .footer-wrapper .footer-section-1 .logo {
  margin-bottom: 1rem;
  font-size: 1.63rem;
}

@media (min-width: 40em) {
  .footer .footer-wrapper .footer-section-1 .logo {
    font-size: 1.9rem;
  }
}

.footer .footer-wrapper .footer-section-1 .footer-navigation {
  padding: 0.4em 0;
  margin-bottom: 0.3em;
}

.footer .footer-wrapper .copyright,
.footer .footer-wrapper .footer-navigation {
  color: #8c8c8c;
}

.footer .footer-wrapper .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
}

.footer .footer-wrapper .socials img {
  width: 95%;
}

.footer .footer-wrapper .copyright {
  margin-top: 1.1em;
}
/*# sourceMappingURL=style.css.map */