@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: white;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.headline,
.subheadline {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.subheadline {
  font-size: 1.9rem;
  color: black;
  margin-top: 3.75rem;
  margin-bottom: 1.8rem;
  text-align: center;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.container-pt {
  padding-top: 2.13rem;
}

.container-pb {
  padding-bottom: 2.13rem;
}

.container-pl {
  padding-left: 1.5rem;
}

.container-pr {
  padding-right: 1.5rem;
}

.btn-close,
.menu-icon {
  cursor: pointer;
}

.hero {
  height: 100vh;
  background: url(../images/mobile/image-hero.jpg) no-repeat center center/cover;
  position: relative;
  width: 100%;
}

@media (min-width: 40em) {
  .hero {
    background: url(../images/desktop/image-hero.jpg) no-repeat center center/cover;
  }
}

.hero .mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 40em) {
  .hero .mobile-header {
    display: none;
  }
}

.hero .mobile-header .mobile-menu {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  height: 100vh;
}

.hero .mobile-header .mobile-menu.active {
  display: block;
}

.hero .mobile-header .mobile-menu header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .mobile-header .mobile-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
}

.hero .mobile-header .mobile-menu ul .navigation-link {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.25em;
  margin: 0.25em 0;
}

.hero .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .hero .header {
    display: none;
  }
}

.hero .header .menu {
  width: 40%;
}

.hero .header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .header .menu ul .navigation-link {
  padding: 1em;
  position: relative;
}

.hero .header .menu ul .navigation-link:hover::after {
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0;
  height: 2px;
  width: 40%;
  background-color: white;
  margin-bottom: -1px;
}

.hero .logo {
  font-size: 1.88rem;
  line-height: 0.8;
}

@media (min-width: 40em) {
  .hero .logo {
    font: 2.2rem;
    font-weight: bold;
  }
}

.hero .headline {
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 160px;
  padding: 0.5em;
  border: 2px solid white;
}

@media (min-width: 40em) {
  .hero .headline {
    width: 55%;
    font-size: 4.5rem;
  }
}

.about-us .about-us-article {
  text-align: center;
}

.about-us .about-us-article .body-copy {
  padding: 0.7rem;
  color: #8c8c8c;
}

.showcase .showcase-wrapper .showcase-item-1 {
  position: relative;
  background: url("../images/mobile/image-deep-earth.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-item-2 {
  position: relative;
  background: url("../images/mobile/image-night-arcade.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-item-3 {
  position: relative;
  background: url("../images/mobile/image-soccer-team.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-item-4 {
  position: relative;
  background: url("../images/mobile/image-grid.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-4::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-item-5 {
  position: relative;
  background: url("../images/mobile/image-from-above.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-5::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-item-6 {
  position: relative;
  background: url("../images/mobile/image-pocket-borealis.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-6::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-item-7 {
  position: relative;
  background: url("../images/mobile/image-curiosity.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-7::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-item-8 {
  position: relative;
  background: url("../images/mobile/image-fisheye.jpg") no-repeat center center/cover;
  min-height: 122px;
  margin-bottom: 1.88rem;
}

.showcase .showcase-wrapper .showcase-item-8::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase .showcase-wrapper .showcase-title {
  position: absolute;
  left: 5%;
  bottom: 15%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.showcase .btn-link {
  display: block;
  color: black;
  width: 50%;
  margin: 2rem auto;
  padding: 0.7em 2.5em;
  border: 1px solid black;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.footer {
  background-color: black;
  text-align: center;
}

.footer .footer-section-1 {
  margin-bottom: 1rem;
}

.footer .footer-section-1 .logo {
  font-size: 1.63rem;
  margin-bottom: 1rem;
}

.footer .footer-section-1 .footer-navigation {
  padding: 0.4em 0;
  margin-bottom: 0.3em;
}

.footer .copyright,
.footer .footer-navigation {
  color: #8c8c8c;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
}

.footer .socials img {
  width: 95%;
}

.footer .copyright {
  margin-top: 1.1em;
}
/*# sourceMappingURL=style.css.map */